
<!DOCTYPE html>
<html id="bg-login-wall">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ absolute_url(asset('css/theme.css')) }}" type="text/css">
        <link rel="stylesheet" href="{{ absolute_url(asset('css/theme-master.css')) }}" type="text/css">
        <title>Gestionnaire de mot de passe | Connexion</title>
    </head>
    <body id="body-login">
    <div>
        <div class="container w-100">
            <div class="row" id="block-form" >
                <div class="align-self-center col-md-6 text-white">
                    <h1 class="text-center text-md-left text-white display-3">Gestionnaire de mot de passe</h1>
                </div>
                <div class="col-md-6" id="book">
                    <div class="card">
                        <div class="card-body p-5 bg-light text-left">
                            <i class="fa fa-user-circle fa-4x" aria-hidden="true"></i><h3 class="pb-3 icon awesome">Connexion<br/></h3>
                            <br/><br/>
                            {# On affiche les messages flash que définissent les contrôleurs du bundle #}

                            {% block fos_user_content %}

                                <form action="{{ path("fos_user_security_check") }}" method="post">
                                <div class="form-group">
                                <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
                                <input class="form-control" placeholder="Votre identifiant" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                                </div>
                                <div class="form-group">
                                <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                                <input  class="form-control" placeholder="Votre mot de passe" type="password" id="password" name="_password" required="required" />
                                </div>
                                <div class="form-group">
                                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
                                </div>
                                {% if csrf_token %}
                                     <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                                {% endif %}

                                    <div>
                                        {% if error %}
                                            <div class="alert alert-danger">
                                                {{ error.messageKey|trans(error.messageData, 'security')|trim('.') }}
                                            </div>
                                        {%  endif %}
                                    <input class="btn mt-2 btn-outline-dark" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
                                </div>
                                <div>
                                    <ul id="link-to-register">
                                        <li><a href="register">Créer un compte</a></li>
                                        <li><a href="resetting/request">mot de passe perdue</a></li>
                                    </ul>
                                </div>
                            </form>

                            {% endblock fos_user_content %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://use.fontawesome.com/4df86cf1bf.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    </body>
</html>
