<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{% block title %}Gestionnaire de mot de passe{% endblock %}</title>
      {% block stylesheets %}
          {# CSS #}
          <link rel="icon" type="image/png" href="{{ absolute_url(asset('favicon/favicon.png')) }}" sizes="96x96">
          <link rel="stylesheet" href="{{ absolute_url(asset('css/theme.css')) }}" type="text/css">
          <link rel="stylesheet" href="{{ absolute_url(asset('css/theme-master.css')) }}" type="text/css">
          <link rel="stylesheet" href="{{ absolute_url(asset('css/bootstrap.min.css')) }}">
          <link rel="stylesheet" href="{{ absolute_url(asset('css/bootstrap.min.css')) }}">
          <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css"/>
        {# Script #}
          <script src="{{ absolute_url(asset('js/clipboard.min.js')) }}"></script>
          <script src="{{ absolute_url(asset('js/font_awesome/4df86cf1bf.js')) }}"></script>
          <script src="{{ absolute_url(asset('js/jquery-1.12.4.js')) }}"></script>
          <script src="{{ absolute_url(asset('js/jquery.min.js')) }}"></script>
          <script src="{{ absolute_url(asset('js/bootstrap.min.js')) }}"></script>
          <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>

      {% endblock %}
    </head>
    <body>
    {% block body %}


        {# nav  use asssetic#}
        {# Add value for active link#}
        <nav class="navbar navbar-expand-md bg-dark navbar-dark w-100" style="">
            <a class="navbar-brand" href="{{ path('password_manager_core_home') }}"><i class="fa fa-key fa-fw fa-lg"></i></a>
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('password_manager_core_home') }}">Gestionnaire de mot de passe</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {# List menu + if user authentified#}
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">

                        <li class="nav-item">

                            <a class="nav-link" href="{{ path('password_manager_core_home') }}">Accueil</a>
                        </li>
                        {% if   listAdverts is defined   %}
                        {% if   listAdverts %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('password_manager_platform_home') }}">Mes mots de passe</a>
                            </li>
                        {% endif %}
                    {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('fos_user_profile_show') }}">Mon profil</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link " href="{{ path('password_manager_core_pass_generator') }}">Générateur de mot de passe</a>
                    </li>
                        <li class="nav-item">
                             <a class="nav-link" href="{{ path('password_manager_core_contact') }}">Contact</a>
                     </li>
                    {% if roles == true %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('sonata_admin_dashboard') }}">Administration</a>
                        </li>
                  {%  endif %}
                     <li class="nav-item">
                        <a class="nav-link" href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
                     </li>
                    </ul>
                </div>
                <div class="navbar">
                    <ul class="navbar-nav mr-auto">





                        <li class="nav-item"  style="font-size: 1.3em;color: rgba(255, 255, 255, 0.5);">
                            {{ "now"|date("H:i") }}
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
            {# to extends first template#}
        {% block passwordmanager_platform_body_index %}
        {% endblock %}
        {# nav  Footer Section#}
        <footer>
            <div class="bg-secondary" style="">
                <div class="container-fluid">
                    <div class="row">
                        <div class="p-4 col-md-4">
                            <h2 class="mb-4 text-dark">Gestionnaire de mot de passe</h2>
                            <p class="text-white"><b><i>Un outil pour vous simplifier la vie</i></b></p>
                        </div>
                        <div class="p-4 col-md-4">
                            <h2 class="mb-4 text-secondary">Mapsite</h2>
                            <ul id="list-footer" class="list-unstyled">
                                <li><a href="{{ path('password_manager_core_home') }}" class="text-white" >Accueil</a></li>
                                {% if  listAdverts is defined  %}
                                    {% if  listAdverts  %}
                                        <li>
                                            <a href="{{ path('password_manager_platform_home') }}" class="text-white">Mes mots de passe</a>
                                        </li>
                                    {% endif  %}
                                {% endif  %}
                                 <li >
                                    <a class="text-white" href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
                                 </li>
                            </ul>
                        </div>
                        <div class="p-4 col-md-4">
                            <i class="d-block mx-auto fa fa-5x fa fa-lock first-footer"></i>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p class="text-center">
                                <a href="mailto:contact-gdm@afbiodiversite.fr" class="text-white"><b>contact-gdm@afbiodiversite.fr</b></a>
                            </p>
                        </div>
                        <div class="p-8 col-md-8">
                            <p class="text-left text-white">© Copyright 2017 -  {{ 'now'|date('Y') }} Gestionnaire de mot de passe - All rights reserved. </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
      {% block javascripts %}

        {# <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> #}
        <script type="text/javascript">
            $(document).ready(function(){
                $('#list-pass-table').DataTable(
                    {
                        "language": {
                            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                        }
                    }
                );
            });


            var selector = '.nav-link';

            $(selector).on('click', function(){
                $(selector).removeClass('active');
                $(this).addClass('active');
            });
        </script>
      {% endblock %}
    {% endblock %}
    </body>
</html>
