{% extends "PasswordManagerCoreBundle::layout.html.twig" %}

{% block title %}
 Accueil | {{ parent() }}
{% endblock %}
 {% block body %}
     {{ parent() }}

 {% endblock %}

{% block passwordmanager_platform_body_index %}
    {{ parent() }}
    <div class="py-5 text-center opaque-overlay" id="bg-index-first-content" >
        <div class="container py-5">
            <div class="row">
                <div class="col-md-12 text-white">
                    <h1 class="display-3 mb-4">Bienvenue sur le gestionnaire de passe</h1>
                    <p class="lead mb-5">un outil dédié pour vos besoins  de stockage de mot de passe</p>
                    {% if   listAdverts is defined   %}
                        {% if  listAdverts  %}
                            <a class="btn btn-lg btn-dark mx-1 text-white "  href="{{ path('password_manager_platform_home')}}">Consulter ma liste de mot de passe</a>
                        {% endif %}
                    {% endif %}
                    <a class="btn btn-lg btn-secondary mx-1"  href="{{ path('password_manager_platform_add') }}">Ajouter un mot de passe à ma liste</a>
                </div>
            </div>
        </div>
    </div>
    <div class="py-5 gradient-overlay bg-dark text-white">
        <div class="container">
            <div class="row">
                <div class="py-5 col-md-6">
                {% if   listAdverts is defined   %}
                    {% if  listAdverts  %}
                    <a class="link-categories-wel" href="{{ path('password_manager_platform_home',{'category':'ftp-sftp'})}}">
                    <div class="row">
                        <div class="text-center col-4"><i class="d-block mx-auto fa fa-5x fa fa-server"></i></div>
                        <div class="col-8">
                            <h5 class="mb-3"><b>Liste des serveurs</b></h5>
                            <p class="my-1">Accéder aux listes des mots de passe liés aux accès FTP, SFTP.</p>
                            {% set i = 0 %}
                            {% for advert in listAdverts %}
                                {% if not advert.categories.empty %}
                                    {% for category in advert.categories %}
                                        {% if category.name == "Accès FTP, SFTP" %}
                                            {% set i = i + 1 %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                           Vous avez {{ i }} mots de passe dans cette liste.
                        </div>
                    </div>
                    </a>
                    {% endif %}
                {% endif %}
                </div>
                <div class="py-5 col-md-6">
                    {% if   listAdverts is defined   %}
                        {% if  listAdverts  %}
                            <a class="link-categories-wel" href="{{ path('password_manager_platform_home',{'category':'sql'})}}">
                                <div class="row">
                                    <div class="text-center col-4"><i class="d-block mx-auto fa fa-5x fa fa-map-o"></i></div>
                                    <div class="col-8">
                                        <h5 class="mb-3"><b>Accès base de données</b></h5>
                                        <p class="my-1">Accèder à vos bases de données.</p>
                                        {% set j = 0 %}
                                        {% for advert in listAdverts %}
                                            {% if not advert.categories.empty %}
                                                {% for category in advert.categories %}
                                                    {% if category.name == "Accès SQL" %}
                                                        {% set j = j + 1 %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                        <span class="num-pass-index">Vous avez {{ j }} mots de passe dans cette liste.</span>
                                    </div>
                                </div>
                            </a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="py-5 col-md-6">
                    {% if   listAdverts is defined   %}
                        {% if  listAdverts  %}
                            <a class="link-categories-wel" href="{{ path('password_manager_platform_home',{'category':'user-admin'})}}">
                                <div class="row">
                                    <div class="text-center col-4"><i class="d-block mx-auto fa fa-5x fa fa-user"></i></div>
                                    <div class="col-8">
                                        <h5 class="mb-3"><b>Accès site web par identifiant</b></h5>
                                        <p class="my-1">Accèder à vos mots de passe de connection de vos sites web préférés.</p>
                                        {% set j = 0 %}
                                        {% for advert in listAdverts %}
                                            {% if not advert.categories.empty %}
                                                {% for category in advert.categories %}
                                                    {% if category.name == "Login utilisateur , administration" %}
                                                        {% set j = j + 1 %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                        <span class="num-pass-index">Vous avez {{ j }} mots de passe dans cette liste.</span>
                                    </div>
                                </div>
                            </a>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="py-5 col-md-6">
                    {% if   listAdverts is defined   %}
                        {% if  listAdverts  %}
                            <a class="link-categories-wel" href="{{ path('password_manager_platform_home',{'category':'ssh'})}}">
                                <div class="row">
                                    <div class="text-center col-4"><i class="d-block mx-auto fa fa-5x fa fa-code"></i></div>
                                    <div class="col-8">
                                        <h5 class="mb-3"><b>Liste de accès SSH</b></h5>
                                        <p class="my-1">Accéder aux listes des mots de passe liés aux accès SSH.</p>
                                        {% set j = 0 %}
                                        {% for advert in listAdverts %}
                                            {% if not advert.categories.empty %}
                                                {% for category in advert.categories %}
                                                    {% if category.name == "Accès SSH" %}
                                                        {% set j = j + 1 %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                        <span class="num-pass-index">Vous avez {{ j }} mots de passe dans cette liste.</span>
                                    </div>
                                </div>
                            </a>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="py-5 col-md-3">
                </div>
                <div class="py-5 col-md-6">
                    {% if   listAdverts is defined   %}
                        {% if  listAdverts  %}
                            <a class="link-categories-wel" href="{{ path('password_manager_platform_home',{'category':'divers'})}}">
                                <div class="row">
                                    <div class="text-center col-4"><i class="d-block mx-auto fa fa-5x fa  fa-sign-in"></i></div>
                                    <div class="col-8">
                                        <h5 class="mb-3"><b>Accès aux divers mots de passe</b></h5>
                                        <p class="my-1">Accèder à vos mots de passe inclassables.</p>
                                        {% set j = 0 %}
                                        {% for advert in listAdverts %}
                                            {% if not advert.categories.empty %}
                                                {% for category in advert.categories %}
                                                    {% if category.name == "Autres" %}
                                                        {% set j = j + 1 %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                        <span class="num-pass-index">Vous avez {{ j }} mots de passe dans cette liste.</span>
                                    </div>
                                </div>
                            </a>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="py-5 col-md-3">
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}