{% extends "PasswordManagerCoreBundle::layout.html.twig" %}

{% block title %}
 Accueil | {{ parent() }}
{% endblock %}
 {% block body %}
     {{ parent() }}

 {% endblock %}

{% block passwordmanager_platform_body_index %}
    {{ parent() }}

    {#set flag variable#}
    {% set categorie = "all" %}
    <div class="py-5 text-center opaque-overlay" id="bg-index-first-content" >
        <div class="container py-5">
            <div class="row">
                <div class="col-md-12 text-white">
                    <h1 class="display-3 mb-4">Bienvenue sur le gestionnaire de passe</h1>
                    <p class="lead mb-5">un outil dédié pour vos besoins  de stockage de mot de passe</p>
                    {% if   Passwords is defined   %}
                        {% if  listPasswordss  %}
                            <a class="btn btn-lg btn-dark mx-1 text-white "  href="{{ path('password_manager_platform_home')}}">Consulter ma liste de mot de passe</a>
                        {% endif %}
                    {% endif %}
                    <a class="btn btn-lg btn-secondary mx-1"  href="{{ path('password_manager_platform_add') }}">Ajouter un mot de passe à ma liste</a>
                </div>
            </div>
        </div>
    </div>
    <div class="py-5 gradient-overlay bg-dark text-white" id="bg-index-second-content">
        <div class="container-fluid">
            <div class="row">
                <div class="py-5 col-md-6 transi">
                {% if   listPasswords is defined   %}
                    {% if  listPasswords  %}
                        {#{{ path('password_manager_platform_home',{'category':"FTP,SFTP"})}} #}
                    <a class="link-categories-wel" href='{{ path('password_manager_platform_home',{'category':'FTP,SFTP'})}}'>
                    <div class="row">
                        <div class="text-center col-4"><i class="d-block mx-auto fa fa-5x fa fa-server"></i></div>
                        <div class="col-8">
                            <h3 class="mb-3"><b>Liste des serveurs</b></h3>
                            <p class="my-1"><b>Accéder aux listes des mots de passe liés aux accès FTP, SFTP.</b></p>
                            {% set i = 0 %}
                            {% for password in listPasswords %}
                                {% if not password.categories.empty %}
                                    {% for category in password.categories %}
                                        {% if category.name == "FTP,SFTP" %}
                                            {% set i = i + 1 %}
                                            {%  set categorie = "FTP,SFTP"  %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                            <span class="num-pass-index">Vous avez {{ i }}
                                {% if i >= 2 %}
                                    mots
                                {% else %}
                                    mot
                                {% endif %}
                                de passe dans cette liste.</span>
                        </div>
                    </div>
                    </a>
                    {% endif %}
                {% endif %}
                    {% if listPasswords is empty %}
                            <a class="link-categories-wel" href="{{ path('password_manager_platform_add')}}">
                                <div class="row">
                                    <div class="text-center col-4"><i class="d-block mx-auto fa fa-5x fa fa-server"></i></div>
                                    <div class="col-8">
                                        <h3 class="mb-3"><b>Liste des serveurs</b></h3>
                                        <p class="my-1"><b>Accéder aux listes des mots de passe liés aux accès FTP, SFTP.</b></p>
                                        <span class="num-pass-index">
                                            Cette catégorie est vide.
                                        </span>
                                    </div>
                                </div>
                            </a>
                    {% endif %}
                </div>

                <div class="py-5 col-md-6 transi">
                    {% if   listPasswords is defined   %}
                        {% if  listPasswords  %}
                            <a class="link-categories-wel" href="{{ path('password_manager_platform_home',{'category':'Sql' })}}">
                                <div class="row">

                                    <div class="text-center col-4"><i class="d-block mx-auto fa fa-5x fa fa-map-o"></i></div>
                                    <div class="col-8">
                                        <h3 class="mb-3"><b>Base de données</b></h3>
                                        <p class="my-1"><b>Accèder à vos bases de données.</b></p>
                                        {% set j = 0 %}
                                        {% for password in listPasswords %}
                                            {% if not password.categories.empty %}
                                                {% for category in password.categories %}
                                                    {% if category.name == "Sql" %}
                                                        {% set j = j + 1 %}
                                                        {%  set categorie = "Sql"  %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                        <span class="num-pass-index">Vous avez {{ j }}
                                            {% if j >= 2 %}
                                                mots
                                            {% else %}
                                                mot
                                            {% endif %}
                                            de passe dans cette liste.</span>
                                    </div>
                                </div>
                            </a>
                        {% endif %}
                    {% endif %}
                    {% if  listPasswords is empty  %}

                            <a class="link-categories-wel" href="{{ path('password_manager_platform_add') }}">
                                <div class="row">
                                    <div class="text-center col-4"><i class="d-block mx-auto fa fa-5x fa fa-map-o"></i></div>
                                    <div class="col-8">
                                        <h3 class="mb-3"><b>Base de données</b></h3>
                                        <p class="my-1"><b>Accèder à vos bases de données.</b></p>
                                        <span class="num-pass-index">
                                            Cette catégorie est vide.
                                        </span>
                                    </div>
                                </div>
                            </a>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="py-5 col-md-6 transi">
                    {% if   listPasswords is defined   %}
                        {% if  listPasswords  %}
                            <a class="link-categories-wel" href="{{ path('password_manager_platform_home',{'category':'user-admin'})}}">
                                <div class="row">
                                    <div class="text-center col-4"><i class="d-block mx-auto fa fa-5x fa fa-user"></i></div>
                                    <div class="col-8">
                                        <h3 class="mb-3"><b>Site web par identifiant</b></h3>
                                        <p class="my-1"><b>Accèder à vos mots de passe de connection de vos sites web préférés.</b></p>
                                        {% set j = 0 %}
                                        {% for password in listPasswords %}
                                            {% if not password.categories.empty %}
                                                {% for category in password.categories %}
                                                    {% if category.name == "user-admin" %}
                                                        {% set j = j + 1 %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                        <span class="num-pass-index">Vous avez {{ j }}
                                            {% if j >= 2 %}
                                                mots
                                            {% else %}
                                                mot
                                            {% endif %}
                                            de passe dans cette liste.</span>
                                    </div>
                                </div>
                            </a>
                        {% endif %}
                    {% endif %}
                    {% if listPasswords is empty %}
                            <a class="link-categories-wel" href="{{ path('password_manager_platform_add') }}">
                                <div class="row">
                                    <div class="text-center col-4"><i class="d-block mx-auto fa fa-5x fa fa-user"></i></div>
                                    <div class="col-8">
                                        <h3 class="mb-3"><b>Site web par identifiant</b></h3>
                                        <p class="my-1"><b>Accèder à vos mots de passe de connection de vos sites web préférés.</b></p>
                                        <span class="num-pass-index">Cette catégorie est vide.</span>
                                    </div>
                                </div>
                            </a>
                    {% endif %}
                </div>
                <div class="py-5 col-md-6 transi">
                    {% if   listPasswords is defined   %}
                        {% if  listPasswords  %}
                            <a class="link-categories-wel" href="{{ path('password_manager_platform_home',{'category':'Ssh'})}}">
                                <div class="row">
                                    <div class="text-center col-4"><i class="d-block mx-auto fa fa-5x fa fa-code"></i></div>
                                    <div class="col-8">
                                        <h3 class="mb-3"><b>Liste des accès SSH</b></h3>
                                        <p class="my-1"><b>Accéder aux listes des mots de passe liés aux accès SSH.</b></p>
                                        {% set j = 0 %}
                                        {% for password in listPasswords %}
                                            {% if not password.categories.empty %}
                                                {% for category in password.categories %}
                                                    {% if category.name == "Ssh" %}
                                                        {% set j = j + 1 %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                        <span class="num-pass-index">Vous avez {{ j }}
                                            {% if j >= 2 %}
                                                mots
                                                {% else %}
                                                    mot
                                            {% endif %}
                                                de passe dans cette liste.</span>
                                    </div>
                                </div>
                            </a>
                        {% endif %}
                    {% endif %}
                    {% if listPasswords is empty %}
                            <a class="link-categories-wel" href="{{ path('password_manager_platform_add') }}">
                                <div class="row">
                                    <div class="text-center col-4"><i class="d-block mx-auto fa fa-5x fa fa-user"></i></div>
                                    <div class="col-8">
                                        <h3 class="mb-3"><b>Site web par identifiant</b></h3>
                                        <p class="my-1"><b>Accèder à vos mots de passe de connection de vos sites web préférés.</b></p>
                                        <span class="num-pass-index">Cette catégorie est vide</span>
                                    </div>
                                </div>
                            </a>
                    {%  endif %}
                </div>
            </div>
            <div class="row">
                <div class="py-5 col-md-6 transi">
                    {% if   listPasswords is defined   %}
                        {% if  listPasswords  %}
                            <a class="link-categories-wel" href="{{ path('password_manager_platform_home',{'category':'Autres'})}}">
                                <div class="row">
                                    <div class="text-center col-4"><i class="d-block mx-auto fa fa-5x fa  fa-sign-in"></i></div>
                                    <div class="col-8">
                                        <h3 class="mb-3"><b>Divers mots de passe</b></h3>
                                        <p class="my-1">Accèder à vos mots de passe inclassables.</p>
                                        {% set j = 0 %}
                                        {% for password in listPasswords %}
                                            {% if not password.categories.empty %}
                                                {% for category in password.categories %}
                                                    {% if category.name == "Autres" %}
                                                        {% set j = j + 1 %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                        <span class="num-pass-index">Vous avez {{ j }}
                                            {% if j >= 2 %}
                                                mots
                                            {% else %}
                                                mot
                                            {% endif %}
                                            de passe dans cette liste.</span>
                                    </div>
                                </div>
                            </a>
                        {% endif %}
                    {% endif %}
                    {% if listPasswords is empty %}
                        <a class="link-categories-wel" href="{{ path('password_manager_platform_add') }}">
                            <div class="row">
                                <div class="text-center col-4"><i class="d-block mx-auto fa fa-5x fa  fa-sign-in"></i></div>
                                <div class="col-8">
                                    <h5 class="mb-3"><b>Divers mots de passe</b></h5>
                                    <p class="my-1">Accèder à vos mots de passe inclassables.</p>
                                    <span class="num-pass-index">Cette catégorie est vide</span>
                                </div>
                            </div>
                        </a>
                    {%  endif %}
                </div>
                <div class="py-5 col-md-6 transi">
                    {% if   listPasswords is defined   %}
                        {% if  listPasswords  %}
                            <a class="link-categories-wel" href="{{ path('password_manager_platform_home',{'category':'shared'})}}">
                                <div class="row">
                                    <div class="text-center col-4"><i class="d-block mx-auto fa fa-5x fa fab fa-slideshare"></i></div>
                                    <div class="col-8">
                                        <h3 class="mb-3"><b>Mots de passe partagés</b></h3>
                                        <p class="my-1"><b>Accèder aux mots de passe partagés dans votre groupe.</b></p>
                                        <span class="num-pass-index">Listes des mots de passe partagés au sein du groupe</span>

                                    </div>
                                </div>
                            </a>
                        {% endif %}
                    {% endif %}
                    {% if listPasswords is empty %}
                            <a class="link-categories-wel" href="{{ path('password_manager_platform_add') }}">
                                <div class="row">
                                    <div class="text-center col-4"><i class="d-block mx-auto fa fa-5x fa  fa-sign-in"></i></div>
                                    <div class="col-8">
                                        <h5 class="mb-3"><b>Divers mots de passe</b></h5>
                                        <p class="my-1"><b>Accèder à vos mots de passe inclassables.</b></p>
                                        <span class="num-pass-index">Cette catégorie est vide</span>
                                    </div>
                                </div>
                            </a>
                    {%  endif %}
                </div>
            </div>
        </div>
    </div>
        </div>
    </div>
{% endblock %}