{% extends "PasswordManagerPlatformBundle:Advert:index.html.twig" %}
{% block title %}
  Liste de mes mots de passe | {{ parent() }}
{% endblock %}

{% block passwordmanager_platform_list_all %}
    <tbody>
    {% for advert in listAdverts %}
        <tr>
            <td> {{ advert.id }}</td>
            <td>{{ advert.title }}</td>
            <td> <a href="{{ path('password_manager_platform_view', {'id': advert.id}) }}">
                    {{ advert.title }}
                </a></td>
            <td>{{ advert.login }}</td>
            <td>{{ advert.password }}</td>
            <td>le {{ advert.date|date('d/m/Y') }}</td>
            <td>
                {% if not advert.categories.empty %}

                    {% for category in advert.categories %}
                        {{ category.name }}{% if not loop.last %}<br> {% endif %}
                    {% endfor %}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
 {% endblock %}